In [1]:
import AquaMonitor as am

am.host = "https://test-aquamonitor.niva.no/"

# Query project-specific water chemistry data using the Aquamonitor API

## 1. Login

There are several login options:

 1. Create a file named `.auth` in the same folder as `AquaMonitor.py` with the following format:
 
            [Auth]
            username = YourUsername
            password = YourPassword
            
            
    `Aquamonitor-Python` will then attempt to read your credentials from this file automatically whenever they are required. This is the easiest solution on secure systems, but **note that your username and password will be stored as plain text - use with caution**.
 
 2. Use the `login()` function, as shown below. This will create an access token that is valid for one day, which you can then pass to any subsequent queries (see Section 2 for an example)
 
 3. Do nothing. If you do not provide an access token and the `.auth` file cannot be found, you will be prompted to enter your username and password. Note that you will have to do this for every query, so in most cases one of the other options will be preferred

In [2]:
# Get access token
token = am.login()

Please enter your credentials.

Username:  ···
Password:  ··············

## 2. List projects

The `get_projects` function returns a list of all projects in the database. You can search this dataframe to identify the correct project ID for the project you are interested in.

In [3]:
proj_df = am.get_projects(token=token)
print(f"{len(proj_df)} projects in the database.")
proj_df.head()

1298 projects in the database.

   ProjectId ProjectCode      ProjectName Description
0          1         NaN              xxx         NaN
1         55         NaN  PARCOM_Aquateam         NaN
2         56         NaN      PARCOM_NIVA         NaN
3         58         NaN          MAR_BOK     Fagdata
4         59         NaN          MAR_IMA     Fagdata

In [4]:
# Find the project code for the 2019 '1000 Lakes' survey
proj_df.query("ProjectName.str.contains('Nasjonal')", engine="python")

,ProjectId,ProjectCode,ProjectName,Description
1201,12433,190091,Nasjonal Innsjøundersøkelse 2019,1000-sjøer undersøkelse gjennomført i 2019

## 3. Submit query  

Use `get_project_chemistry` to extract all the data for your project and time period of of interest.

In [5]:
%%time

proj_id = 12433
st_dt = "01.01.2019"
end_dt = "31.12.2019"

df = am.get_project_chemistry(proj_id, st_dt, end_dt, token=token)
df.head()

CPU times: user 4.31 s, sys: 139 ms, total: 4.44 s
Wall time: 28.4 s

,ProjectId,ProjectName,StationId,StationCode,StationName,SampleDate,Depth2,Name,Flag,Value,Unit,Approved,QuantificationLimit,DetectionLimit,Laboratory,MethodCode,MethodRef,Remark
0,12433,Nasjonal Innsjøundersøkelse 2019,71725,1432-2-205,Femtevatnet,2019-10-02T00:00:00Z,NaN,"Aluminium, ikke labil",<,5.0,UG_P_L,True,5.0,1.5,NIVA_LABWARE,NaN,E3-2 - NS-EN ISO/IEC 17025:2005 NA TEST 009,NaN
1,12433,Nasjonal Innsjøundersøkelse 2019,71719,623-603,Breidlivatnet,2019-10-28T00:00:00Z,NaN,"Aluminium, ikke labil",NaN,97.0,UG_P_L,True,5.0,1.5,NIVA_LABWARE,NaN,E3-2 - NS-EN ISO/IEC 17025:2005 NA TEST 009,NaN
2,12433,Nasjonal Innsjøundersøkelse 2019,45862,1037-19,Fjotlandsvatnet,2019-10-30T00:00:00Z,NaN,"Aluminium, ikke labil",NaN,98.0,UG_P_L,True,5.0,1.5,NIVA_LABWARE,NaN,E3-2 - NS-EN ISO/IEC 17025:2005 NA TEST 009,NaN
3,12433,Nasjonal Innsjøundersøkelse 2019,37922,1622-1-5,Nedre Hanstjørna,2019-10-09T00:00:00Z,NaN,"Aluminium, ikke labil",NaN,84.0,UG_P_L,True,5.0,1.5,NIVA_LABWARE,NaN,E3-2 - NS-EN ISO/IEC 17025:2005 NA TEST 009,NaN
4,12433,Nasjonal Innsjøundersøkelse 2019,27063,1811-1-22,HOH 674,2019-09-26T00:00:00Z,NaN,"Aluminium, ikke labil",NaN,7.0,UG_P_L,True,5.0,1.5,NIVA_LABWARE,NaN,E3-2 - NS-EN ISO/IEC 17025:2005 NA TEST 009,NaN